{% extends 'base.html.twig' %}

{% block title %}New Service
{% endblock %}

{% block body %}
	<main class="container text-center">
		<h1>Create new Service</h1>

		{{ include('service/_form.html.twig') }}
		<button class="btn btn-outline-primary my-1">
			<a href="{{ path('service_index') }}">back to list</a>
		</button>
	</main>
{% endblock %}
